// default parameter values

params  {

  // submitted file
  input = "./test-data/example_input.txt"

  // reference file dir to validate input data
  public_ref_dir = "./test-data/public_ref_dir/"

  // name of the tool used for the predicitions
  participant_id = "my gene predictor"

  // cancer types for which the benchmark has to be performed
  challenges_ids  = "ACC BRCA"

  //name or OEB permanent ID for the benchmarking community
  community_id = "TCGA"

  // directories where results will be written
  validation_result = "./test-data/example_output.json"
  statsdir = "./sample_out/stats"
  otherdir = "./sample_out/other"

}

// By default output execution reports
timeline {
  enabled = true
  file = "${params.statsdir}/timeline.html"
}
report {
  enabled = true
  file = "${params.statsdir}/report.html"
}
trace {
  enabled = true
  file = "${params.statsdir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.statsdir}/DAG.dot"
}


